# .gitignore
.terraform/
# 1. 테라폼 설정 폴더

**/.terraform/
*.tfstate
*.tfstate.backup

# 2. 민감한 정보 파일
*.tfvars
*.auto.tfvars
*.info

# 3. 기타 시스템 파일
.DS_Store

# MySQL 데이터 폴더 제외
mysql_data/

# OS 생성 파일 제외
.DS_Store
Thumbs.db