version: '3.8'

services:
  # 1. DB 서버 (별도 Dockerfile 없이 공식 이미지 사용)
  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: hackers
      MYSQL_DATABASE: test_db
      MYSQL_USER: user01
      MYSQL_PASSWORD: user01
    ports:
      - "3306:3306"
    volumes:
      - ./mysql_data:/var/lib/mysql
      - ./data.sql:/docker-entrypoint-initdb.d/data.sql # 초기 데이터 자동 로드

  # 2. WAS 서버 (PHP 8.3)
  was:
    build: 
      context: .
      dockerfile: .docker/was/Dockerfile
    container_name: php_was
    restart: always
    environment:
      - DB_HOST=db
      - DB_USER=user01
      - DB_PASS=user01
      - DB_NAME=test_db
    volumes:
      - ./Service:/var/www/html/Service

  # 3. WEB 서버 (Apache)
  web:
    build:
      context: .
      dockerfile: .docker/web/Dockerfile
    container_name: apache_web
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./Service:/var/www/html/Service